<ion-row>
  <ion-col *ngFor="let game of games" size="12" size-md="6" size-lg="4" size-xl="3" class="ion-padding">
    <ion-card>
      <img alt="{{ game.title }}" src="assets/{{ game.image }}" />
      <ion-card-header>
        <ion-card-title>{{ game.title }}</ion-card-title>
        <ion-card-subtitle *ngIf="!game.releaseDate"><i>Coming Soon!</i></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="height:100px; overflow-y:auto">
        {{ game.description }}
      </ion-card-content>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button 
            *ngIf="!!game.link" 
            (click)="utilityService.goToLink(game.link)">
            View Game
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>