.brand-logo{
	font-family: 'Covered By Your Grace', cursive; 
	font-size: 1.75em;
}

.brand-logo:hover{
	cursor:pointer;
}

.nav-title{
	display: flex;
	align-items: center;
	margin:8px 8px;
	gap:8px;
	font-size:1.25em
}