<shared-nav></shared-nav>
<ion-content>
  <ion-grid class="ion-padding">
    <app-banner></app-banner>
    <shared-section-header class="ion-text-center" title="Games"></shared-section-header>
    <shared-games class="pb-5"></shared-games>
    <shared-section-header class="ion-text-center" title="Team"></shared-section-header>
    <p class="ion-text-center">
      The Orcwood Team all participate in their spare time and offer their unique skills to get some amazing work done.
    </p>
    <shared-team class="py-5"></shared-team>
  </ion-grid>
</ion-content>