<ion-row>
  <ion-col size="12" class="ion-text-center">
    <hr class="divider"/>
    <h3>
      Nightly Builds
    </h3>
    <ion-list>
      <ion-item *ngFor="let nightlyBuild of nightlyBuilds" style="width:100%;">
        <a href="{{ nightlyBuild.url }}" target="_blank" class="flex" style="width:100%;justify-content:space-between">
          <span class="flex">
            <ion-icon name="{{ nightlyBuild.icon}}"/>
            {{ nightlyBuild.dateTime | date:'shortDate' }}
          </span>
          {{ nightlyBuild.size }}
        </a>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
